<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container p-2">
      <a class="navbar-brand" href="/"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-building"></i> About</a>
          </li>
        <!--  <li class="nav-item">
            <a class="nav-link" href="/#about"><i class="fas fa-building"></i> About</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user"></i> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  