<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

  
    <div class="container p-5">
      <div class="row">
        <div class="col-sm-4 offset-md-4">
          <div class="card animated flipInY">
            <div class="card-header bg-dark text-white text-center">
              <h3>Register</h3>
            </div>
            <div class="card-body">
              <form action="">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Country">
                </div>

                <div class="form-group">
                  <div class='input-group date' id='datetimepicker3'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="Phone Number">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">
                    Save
                  </button>
                </div>
              </form>    
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>

<!-- codigo JavaScript para mostrar el calendario  -->


<script type="text/javascript">
  $(function () {
    $('#datetimepicker3').datetimepicker({
      format: 'DD/MM/YYYY'

      });
  });
</script>




