<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

  
    <div class="container p-5">
      <div class="row">
        <div class="col-sm-4 offset-md-4">
          <div class="card animated flipInY">
            <div class="card-header bg-dark text-white text-center">
              <h3>Login</h3>
            </div>
            <div class="card-body">
              <form action="">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">
                    Login
                  </button>
                </div>
              </form>    
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>